{% extends "base_logined.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container" id="home" style="display:none">
	<h1>Home Page</h1>
    
    <input id="username" type="hidden" name="username" value="null">
    
    <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">question</th>
      <th scope="col">lastPostDate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
     
    </tr>
   
  </tbody>
</table>

</div>


{% endblock %}