{% extends "base_logined.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- <div class="info panel panel-default">
    <div class="panel-body">
        <ol id="updates">
            <li>Welcome! Below is the information about your auth token.</li>
        </ol>
    </div>
</div> -->

<div class="container" id="home" style="display:none">
  <div class="jumbotron">
    <h1><i class="fa fa-camera-retro" aria-hidden="true"></i>
Orient Express</h1>
    <p>A bunch of code challenges</p>
  </div>
	<form action="{{ url_for('submit_code') }}" method="post">
        <textarea name="code" id="code" rows="20" cols="50"></textarea>
        <input id="codename" type="hidden" name="codename" value="null">
        <input id="username" type="hidden" name="username" value="null">
        <input id="submit" type="submit" value="code" />
   </form>
</div>

<!-- <div id="authTokenModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="authToken">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Your Auth Token</h4>
            </div>
            <div class="modal-body">
                <textarea class="authToken"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}