{% extends "base_logined.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container" id="home" style="display:none">
	<h1>Home Page {{ username }}</h1>
    
    <input id="username" type="hidden" name="username" value="null">
    
    <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">question</th>
      <th scope="col">lastPostDate</th>
    </tr>
  </thead>
  <tbody>
    {% if list %}
        {% for item in list %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>
                <div>
                    <a href="{{url_for('details', username = username,question_name = item['question_name'])}}">{{ item['question_name'] }}</a>
                </div>
            </td>
            <td >{{ item['post_date_time'] }}</td>
        </tr>
        {% endfor %}
      {% endif %}
       
   
  </tbody>
</table>

</div>


{% endblock %}