{% extends "base_logined.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container" id="home" style="display:none">
    <div class="jumbotron">
    {% if description %}
    {{description|safe}}
    {% endif %}
    </div>
    
    <form id="run_form">
        <input id="codename" type="hidden" name="codename" value="{{question_name}}">
        <input id="username" type="hidden" name="username" value="null">

        <div class = "select">
            <select name = "lang" class="form-control">
                <option>language</option>
                <option id="python" name="python">python</option>
                <option id="java" name="java">java</option>
                <option id="ruby" name="ruby">ruby</option>
                <option id="javascript" name="javascript">javascript</option>
            </select>
        </div>
        <br>
        <textarea class="form-control" name="code" id="code" rows="20" cols="100"></textarea>
        <br>
        <div>
            <a href=# id=submit><button class='btn btn-default'>Run</button></a>
        </div>

    </form>

    <div id="result">
       <p><strong>result:</strong></p>
       {% if result %}
        {{ result|safe }}
        {% endif %}
    </div>

</div>

<!-- <h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a>
<h1>END</h1> -->

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
  $(function() {
    $('a#submit').on('click', function(e) {
    // $('#run_form').on('sbumit', function(e) {
      e.preventDefault();  //prevent form from submitting
      $.getJSON($SCRIPT_ROOT + '/run_code', {
        username: $('input[name="username"]').val(),
        codename: $('input[name="codename"]').val(),
        lang: $('select[name="lang"]').val(),
        code: $('textarea[name="code"]').val(),
        // a: $('input[name="a"]').val(),
        // b: $('input[name="b"]').val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
</script>

{% endblock %}