{% extends "base_logined.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<script src="https://s3.amazonaws.com/zappa-static-files-yuanyi/static/js/lib/codemirror.js"></script>
<link rel="stylesheet" href="https://s3.amazonaws.com/zappa-static-files-yuanyi/static/css/lib/codemirror.css">
<script src="https://s3.amazonaws.com/zappa-static-files-yuanyi/static/js/codemirror.js"></script>

<div class="container" id="home" style="display:none">
    <div class="jumbotron">
    {% if description %}
    {{description|safe}}
    {% endif %}
    </div>
    
    <form id="run_form">
        <input id="codename" type="hidden" name="codename" value="{{question_name}}">
        <input id="username" type="hidden" name="username" value="null">

        <div class = "select">
            <select name = "lang" class="form-control" onchange="changeText(this.options[this.options.selectedIndex].value);">
                <option>language</option>
                <option id="python" name="python">python</option>
                <option id="java" name="java">java</option>
                <option id="ruby" name="ruby">ruby</option>
                <option id="javascript" name="javascript">javascript</option>
            </select>
        </div>
        <br>
        <p>Code (Note: Please do not change the template provided.)</p>
        <div class="CodeMirror cm-s-default" style="border: 1px solid #ddd">
            <textarea name="code" id="code" rows="20" cols="100"></textarea>            
        </div>
        <br>
        <p>Input (Please keep the input as an array)</p>
        <textarea class="form-control" name="input" id="input" rows="5" cols="100" placeholder="[12]"></textarea>

        <br>
        <div>
            <a href=# id=submit><button style="background-color:black; margin-right:10px" class='btn btn-primary'>Run Code</button></a>
        
            <img id="loading" style="display:none" height="40px" src="https://s3.amazonaws.com/zappa-static-files-yuanyi/static/img/loader.gif" alt="loading">
        </div>

    </form>
    <br>
    <div>
        <p>Result:</p>
        <textarea readonly class="form-control" name="input" id="result" rows="3" cols="100"></textarea>
    </div>

    <br>
    <br>
    <br>

</div>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
    var textArea = document.getElementById('code');
    var lang = document.getElementsByTagName("select");
    var codename = $('input[name="codename"]').val();
    var editor = CodeMirror.fromTextArea(textArea,{
        lineWrapping:true,
        lineNumbers: true,
        smartIndent: true,
        indentWithTabs: true,
        mode: "javascript"
    });

    function changeText(v){
        if(v=="python"){

            placeholder = "def "+codename+"(nums):"+"\n\n"+"    return"
           
            editor.getDoc().setValue(placeholder+'\n\n\n\n\n\n\n')
        }
        else if(v=="java"){

            placeholder = "public class Solution"+" {\n    public static void main(String[] args) {\n        System.out.println(\"Hello World\");\n    }\n}"
           
            editor.getDoc().setValue(placeholder+'\n\n\n\n\n\n\n')
        }
        else if(v=="ruby"){

            placeholder = "class Solution\n    def "+codename+"(nums)\n\n        return"
           
            editor.getDoc().setValue(placeholder+'\n\n\n\n\n\n\n')
        }
        else if(v=="javascript"){

            placeholder = "module.exports={\n    "+codename+":function(){\n            return;\n        }\n    }"
           
            editor.getDoc().setValue(placeholder+'\n\n\n\n\n\n\n')
        }
        else{
            editor.getDoc().setValue('\n\n\n\n\n\n\n')
        }
    }
    
    

    $(function() {
        $('a#submit').on('click', function(e) {
            document.getElementById('loading').style.display='';
            e.preventDefault();
            $.getJSON($SCRIPT_ROOT + '/run_code', {
            username: $('input[name="username"]').val(),
            codename: $('input[name="codename"]').val(),
            lang: $('select[name="lang"]').val(),
            input: $('#input').val(),
            // code: $('textarea[name="code"]').val()
            code: editor.getValue()            
            }, function(data) {
                $("#result").val(data.result);
                if($("#result").val()!="") document.getElementById('loading').style.display='none';
            });
            return false;
        });
    });
</script>

{% endblock %}