{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container">
  <h1>Please Register</h1>
  <br>
  <form action="{{ url_for('register_submit') }}" method="post">
    Username: <input type="text" placeholder="Username" name="username" value="{{
    request.form.username }}">
    Password: <input type="password" placeholder="Password" name="password" value="{{
    request.form.password }}">
    Email: <input type="email" placeholder="Email" name="email" value="{{request.form.email}}">
    <input class="btn btn-default" type="submit" value="Sign up">
  </form>
  {% if error %}
  <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
</div>
{% endblock %}
