{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container">
  <h1>Please Register</h1>
  <br>
  <form id = "registrationForm">
    Email: <input type="email" id="emailInputRegister" placeholder="Email" pattern=".*" required>
    Password: <input type="password" id = "passwordInputRegister" placeholder="Password" pattern=".*" required="" >
    Confirm Password: <input type="password" id = "password2InputRegister" placeholder="Confirm Password" pattern=".*" required="">
    <input class="btn btn-default" type="submit" value="Sign up">
  </form>
  {% if error %}
  <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
</div>
{% endblock %}