{% extends "base.html" %}
{% block signin %}
<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/zappa-static-files-yuanyi/static/css/signin.css">
{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">

            <div class="account-wall">
                      <h3 class="text-center">Sign In to Orient Express</h3>
                  
                        <img class="profile-img" src="http://img1.3lian.com/2016/gif/w/15/65.jpg"
                    alt="">
                        <form id = "signinForm" class="form-signin">
                        <input type="email" class="form-control" id = "emailInputSignin" placeholder="Email" name="username" value="{{request.form.username }}" required>
                        <input type="password" class="form-control" id = "passwordInputSignin" placeholder="Password" pattern=".*" name="password" value="{{request.form.password }}">
                        <input class="btn btn-lg btn-default btn-block" type="submit" value="Sign in">
                        </form>
                        <div id="tabs" data-tabs="tabs">
                            <p class="text-center"><a href="{{ url_for('register') }}">Need an Account?</a></p>
                            <!-- <p class="text-center"><a href="#select" data-toggle="tab">Select Account</a></p> -->
                        </div>
                  
               
            </div>
        </div>
    </div>
</div>
{% endblock %}